{% extends 'layouts/base.html' %}


{% block meta %}
<meta name="keywords"
content="gis,gat,arcgis,qgis,o`zbekcha,darslar,geografik axborot tizimlari,web kartalar,kartografiya, gis haqida, gisni o'raganamiz, arcgis qgis darslari">
<meta name="description"
content="{{ post.content[:200] | striptags }}" />

<meta property="og:title" content="{{ post.title }} | GeoInfo.Uz" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://geoinfo.uz/post/{{post.slug}}" />
<meta property="og:image"
content="https://geoinfo.uz/uploads/{{post.photo}}" />
<meta property="og:description"
content="{{ post.content[:200] | striptags }}" />
<meta property="og:site_name" content="Geoinfo.Uz" />
<title>{{ post.title }} | GeoInfo.Uz</title>
{% endblock %}




{% block content %}

<div class="blog">
  <div class="blog-detail">
    <div class="blog-detail-header" style="text-align: center;">
      <h1>{{ post.title }}</h1>
      <div class="blog-detail-info">
        <a href="#">Baxtiyor Qahhorov</a>
        <span>Jan 17, 2022</span>
      </div>
      <img src="{{ url_for('send_report', path=post.photo)}}" alt="{{ post.title }}"
        style="width: 100%; margin: 15px 0; padding: 0;">
    </div>
    <div class="blog-detail-body">
      <p>{{ post.content | safe }}</p>
    </div>
  </div>
</div>

{% endblock %}