{% extends 'layouts/base.html' %}

{% block meta %}
<meta name="keywords"
content="gis,gat,arcgis,qgis,o`zbekcha,darslar,geografik axborot tizimlari,web kartalar,kartografiya, gis haqida, gisni o'raganamiz, arcgis qgis darslari">
<meta name="description"
content="Geografik axborot tizimlari (GIS) haqida ma`lumot beruvchi ilk o'zbekcha sayt. Ushbu saytda GIS, Arcgis, QGIS bo`yicha maqolalarni topishingiz mumkin">

<meta property="og:title" content="GeoInfo.Uz - GIS bo`yicha qo'llanma" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://geoinfo.uz/category" />
<meta property="og:image"
content="https://geoinfo.uz/uploads/geoinfo.uz.PNG" />
<meta property="og:description"
content="Geografik axborot tizimlari (GIS) haqida ma`lumot beruvchi ilk o'zbekcha sayt. Ushbu saytda GIS, Arcgis, QGIS bo`yicha maqolalarni topishingiz mumkin" />
<meta property="og:site_name" content="Geoinfo.Uz" />
<title>Bolimlar | GeoInfo.Uz</title>
{% endblock %}




{% block content %}
<div class="all-blog-posts">
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Bosh sahifa</a></li>
                  <li class="breadcrumb-item"><a href="{{ url_for('category.all_category') }}">Bo`limlar</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Bo`lim qo`shish</li>
                </ol>
              </nav>
            <div class="blog-post">
                <h2>Bo`lim o`zgartirish</h2>
                {% include 'blog/category/_form.html' %}
            </div>
        </div>



    </div>
</div>
{% endblock %}